
# obsidian
.obsidian  # settings (including plugin and hotkey configurations)
.obsidian/workspace  # workspace cache

# macOS
.trash/
.DS_Store
.obsidian/graph.json
.obsidian/plugins/obsidian-git/data.json
.obsidian/workspace
